body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidenav {
    height: auto;
    min-height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bd5d38!important;
    overflow-x: hidden;
    padding-top: 75px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 100%;
    color: white;
    display: block;
}

.nameFormation1 {
    color: #38bd5d;
    margin-top: 80px;
    margin-left: 30px;
    text-align: center;
}

.nameFormation {
    color: #38bd5d;
    margin-top: 80px;
    margin-left: 30px;
    text-align: center;
}

.titrePhrase {
    color: #bd5d38!important;
    text-align: center;
    font-weight: bold;
}

.resumeTitle {
    background: #5d38bd;
    color: white;
    margin-left: 15px;
    border-radius: 10px;
    font-size: 85%;
    padding-top: 15px;
}

.cirleDate {
    color: chocolate;
    font-size: 15px;
    margin-left: 17px;
}

.defineDate {
    font-size: 20px;
    color: #bd5d38;
    padding-left: 10px;
    margin-top: 9px;
}

.defineObjective {
    font-size: 15px;
    color: #5d38bd;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.block-job {
    color: black;
    text-align: justify;
    font-weight: normal;
}

.openBtn {
    background-color: #bd5d38!important;
    color: rgb(231, 228, 225);
    border: 2px solid #bd5d38!important;
    top: 0;
    left: 0;
    position: fixed;
}

.dropdown-item {
    background-color: #bd5d38!important;
    color: white;
}

.block-content {
    background: white;
    width: 100%;
    color: #5d38bd;
    margin: 20px 0px 0px 11px;
    border: 3px solid #5d38bd;
    border-radius: 20px;
    font-size: 80%;
}

.content-skills {
    font-size: 48px;
    text-align: center;
}

/* .content-skills ul li:hover {
    background-color: #bd5d38;
} */

.content-interet {
    font-size: 16px;
    color: black;
    text-align: justify;
    font-weight: normal;
    margin: 40px;
}

.content-awards {
    font-size: 16px;
    color: black;
    text-align: justify;
    font-weight: normal;
    margin: 40px;
}

.fa-angular:hover, .fa-html5:hover, .fa-css3-alt:hover, .fa-js-square:hover, .fa-npm:hover, .fa-java:hover {
    color: #bd5d38!important;
    cursor: pointer;
}

.v1 {
    border-left: 1px solid #5d38bd;
    height: 95px;
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 38px;
}

.v2 {
    border-left: 1px solid #5d38bd;
    height: 92px;
    z-index: -1;
    position: absolute;
    top: 208px;
    left: 38px;
}

.v3 {
    border-left: 1px solid #5d38bd;
    height: 80px;
    z-index: -1;
    position: absolute;
    top: 314px;
    left: 38px;
}

.v4 {
    border-left: 1px solid #5d38bd;
    height: 28%;
    /* calc(100% - 52px) */
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 39px;
}

.v5 {
    border-left: 1px solid #5d38bd;
    height: 54%;
    z-index: -1;
    position: absolute;
    top: 320px;
    left: 39px;
}

.main {
    margin-left: 10%;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.tableService {
    padding-left: 25px;
    padding-top: 35px;
}

.cell1 {
    border: 1px solid black;
    padding: 4px;
}

.cell2 {
    font-size: 14px;
    padding-top: 18px;
}

.cell3 {
    font-size: 14px;
    padding: 20px;
    text-align: justify;
}

.cell4 {
    font-size: 35px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.slide-container {
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 2400px;
    height: 600;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.button-container {
    top: 200px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: red;
}

#slide-image-1:target~.image-container {
    left: 0px;
}

#slide-image-2:target~.image-container {
    left: -800px;
}

#slide-image-3:target~.image-container {
    left: -1600px;
}

#slide-image-4:target~.image-container {
    left: -2400px;
}

#slide-image-5:target~.image-container {
    left: -3200px;
}

.slide-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}